#recipe-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: #edf5e1;
  width: 405px;
  font-size: 16px;
  height: 36px;
  box-sizing: border-box;
  border-left: 1px solid #05386b;
}

.tab {
  height: 36px;
  width: 50%;
  line-height: 36px;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid #05386b;
}

#tab-select {
  height: 36px;
  position: relative;
  z-index: 100;
  border-right: 1px solid #05386b;
  overflow: hidden;
  cursor: pointer;
  transition: height, 0.5s;
  background-image: url("../images/brickks.jpg");
  background-size: cover;
}

#content {
  border-left: 1px solid #05386b;

  background-image: url("../images/colorwood.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.tab-option:hover {
  background-color: #8ee4af;
}

#add-custom-tab {
  cursor: pointer;
  position: relative;
  background-image: url("../images/brickks.jpg");
  background-size: cover;
}

#custom-tab-dialogue {
  padding: 5px;
  position: absolute;
  width: 405px;
  background-image: url("../images/brickks.jpg");
  background-size: cover;
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  right: 0;
  top: 36px;
  border-bottom: 1px solid #05386b;
  overflow: hidden;
  box-sizing: border-box;
  border-left: 1px solid #05386b;
}

#custom-tab-input {
  width: 325px;

  padding: 5px 5px;
  border-radius: 5px;
  font-size: 16px;
}

#custom-tab-input:focus {
  outline: none;
  box-shadow: 0 0 3px 1px #05386b;
}

#tab-all {
  cursor: pointer;
}

.active-tab {
  border-bottom: none;
}

.recipe-card-insert {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 5px;
  margin: 2px 0;
  border-bottom: 1px solid #05386b;
  border-top: 1px solid #05386b;
  cursor: pointer;
  background-color: #fff;
}

.recipe-insert-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  font-weight: bolder;
}

.recipe-image-tiny {
  width: 75px;
  height: 75px;
  border-radius: 5px;
}

.del-tab-row {
  width: 375px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
}

.delete-tab {
  font-size: 24px;
}

.no-recipe-message {
  text-align: center;
  padding: 20px;
  font-weight: bolder;
  color: #000000;
  height: 100%;
  background-color: black;
  background-image: url("../images/cat.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
